<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Digentrega</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
</jsp-config>
  
  
  <servlet>
    <servlet-name>PaginaInicialServlet</servlet-name>
    <servlet-class>dca0120.views.PaginaInicialServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>PaginaInicialServlet</servlet-name>
    <url-pattern></url-pattern>
</servlet-mapping>
 	  
  <servlet>
    <servlet-name>EntrarServlet</servlet-name>
    <servlet-class>dca0120.views.EntrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntrarServlet</servlet-name>
    <url-pattern>/entrar/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SairServlet</servlet-name>
    <servlet-class>dca0120.views.SairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SairServlet</servlet-name>
    <url-pattern>/sair/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CadastrarCaixaServlet</servlet-name>
    <servlet-class>dca0120.views.CadastrarCaixaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCaixaServlet</servlet-name>
    <url-pattern>/cadastrar/caixa/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EditarCaixaServlet</servlet-name>
    <servlet-class>dca0120.views.EditarCaixaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCaixaServlet</servlet-name>
    <url-pattern>/editar/caixa/*</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>RemoverCaixaServlet</servlet-name>
    <servlet-class>dca0120.views.RemoverCaixaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverCaixaServlet</servlet-name>
    <url-pattern>/remover/caixa/*</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>CadastrarEntregadorServlet</servlet-name>
    <servlet-class>dca0120.views.CadastrarEntregadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarEntregadorServlet</servlet-name>
    <url-pattern>/cadastrar/entregador/*</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <servlet-name>EditarEntregadorServlet</servlet-name>
    <servlet-class>dca0120.views.EditarEntregadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarEntregadorServlet</servlet-name>
    <url-pattern>/editar/entregador/*</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <servlet-name>RemoverEntregadorServlet</servlet-name>
    <servlet-class>dca0120.views.RemoverEntregadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverEntregadorServlet</servlet-name>
    <url-pattern>/remover/entregador/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ListarFuncionariosServlet</servlet-name>
    <servlet-class>dca0120.views.ListarFuncionariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarFuncionariosServlet</servlet-name>
    <url-pattern>/listar/funcionarios/*</url-pattern>
  </servlet-mapping>
  

  
  <servlet>
    <servlet-name>PrepararBDServlet</servlet-name>
    <servlet-class>dca0120.views.PrepararBDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepararBDServlet</servlet-name>
    <url-pattern>/prepararBD/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>VerificarCPFServlet</servlet-name>
    <servlet-class>dca0120.views.VerificarCPFServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>VerificarCPFServlet</servlet-name>
    <url-pattern>/verificarCPF/*</url-pattern>
	</servlet-mapping>
	
		<servlet>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>dca0120.views.CadastrarProdutoServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/cadastrar/produto/*</url-pattern>
	</servlet-mapping>
	
		<servlet>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <servlet-class>dca0120.views.ListarProdutosServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <url-pattern>/listar/produtos/*</url-pattern>
	</servlet-mapping>
	
			<servlet>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>dca0120.views.EditarProdutoServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/editar/produto/*</url-pattern>
	</servlet-mapping>
	
			<servlet>
    <servlet-name>RemoverProdutoServlet</servlet-name>
    <servlet-class>dca0120.views.RemoverProdutoServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>RemoverProdutoServlet</servlet-name>
    <url-pattern>/remover/produto/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>CadastrarPedidoServlet</servlet-name>
    <servlet-class>dca0120.views.CadastrarPedidoServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>CadastrarPedidoServlet</servlet-name>
    <url-pattern>/cadastrar/pedido/*</url-pattern>
	</servlet-mapping>
  
  	<servlet>
    <servlet-name>ListarPedidosAbertosServlet</servlet-name>
    <servlet-class>dca0120.views.ListarPedidosAbertosServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>ListarPedidosAbertosServlet</servlet-name>
    <url-pattern>/listar/pedidos/abertos/*</url-pattern>
	</servlet-mapping>
	
	  	<servlet>
    <servlet-name>ListarPedidosFechadosServlet</servlet-name>
    <servlet-class>dca0120.views.ListarPedidosFechadosServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>ListarPedidosFechadosServlet</servlet-name>
    <url-pattern>/listar/pedidos/fechados/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>AvancarEtapaServlet</servlet-name>
    <servlet-class>dca0120.views.AvancarEtapaServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>AvancarEtapaServlet</servlet-name>
    <url-pattern>/avancar/pedido/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>CancelarEtapaServlet</servlet-name>
    <servlet-class>dca0120.views.CancelarEtapaServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>CancelarEtapaServlet</servlet-name>
    <url-pattern>/cancelar/pedido/*</url-pattern>
	</servlet-mapping>
  
  	<servlet>
    <servlet-name>LoginWebservice</servlet-name>
    <servlet-class>dca0120.webservices.LoginWebservice</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>LoginWebservice</servlet-name>
    <url-pattern>/webservice/login/entregador/</url-pattern>
	</servlet-mapping>
  
  
  
</web-app>
