<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Digentrega</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>PaginaInicialServlet</servlet-name>
    <servlet-class>dca0120.views.PaginaInicialServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>PaginaInicialServlet</servlet-name>
    <url-pattern></url-pattern>
</servlet-mapping>
 	  
  <servlet>
    <servlet-name>EntrarServlet</servlet-name>
    <servlet-class>dca0120.views.EntrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntrarServlet</servlet-name>
    <url-pattern>/entrar/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SairServlet</servlet-name>
    <servlet-class>dca0120.views.SairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SairServlet</servlet-name>
    <url-pattern>/sair/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PedidoServlet</servlet-name>
    <servlet-class>dca0120.views.PedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoServlet</servlet-name>
    <url-pattern>/pedido/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CadastrarCaixaServlet</servlet-name>
    <servlet-class>dca0120.views.CadastrarCaixaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCaixaServlet</servlet-name>
    <url-pattern>/cadastrar/caixa/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CadastrarEntregadorServlet</servlet-name>
    <servlet-class>dca0120.views.CadastrarEntregadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarEntregadorServlet</servlet-name>
    <url-pattern>/cadastrar/entregador/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PrepararBDServlet</servlet-name>
    <servlet-class>dca0120.views.PrepararBDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepararBDServlet</servlet-name>
    <url-pattern>/prepararBD/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>
